@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

h1 {
  font-family: "SF Pro", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 36px;
}
@media (max-width: 749px) {
  .container {
    padding: 0 16px;
  }
}
.cursor {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s linear, width 0.2s ease, height 0.2s ease;
  z-index: 99999;
  transform: translate(-50%, -50%);
}
@media (max-width:768px){
  .cursor{
    display: none;
  }
}
.section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 990px) {
  .section {
    height: fit-content;
  }
}

/* Parallax Background */
.parallax-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  mix-blend-mode: multiply; /* Blending Effect */
  filter: brightness(0.3); /* Start brightness */
  transition: filter 2s ease-in-out;
  z-index: -1; /* Video ko background me rakhne ke liye */
  pointer-events: none; /* Video ke upar content ko clickable banane ke liye */
}

/* Smooth Transition Overlay */
.section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  /* Adjust for smoother transition */
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  pointer-events: none;
  z-index: 3;
}

/* Content on Section 1 */
.section-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 150px;
}

h1.fw-bolder {
  max-width: 800px;
  margin: 0 auto;
}

.section-content h1,
.section-content p,
.button {
  opacity: 0;
  transform: translateY(20px); /* Move down slightly */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.visible h1,
.visible p,
.visible .button {
  opacity: 1;
  transform: translateY(0);
}

.images {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.images-visible {
  opacity: 1;
  transform: translateY(0);
}

.section-content h1 {
  font-size: 65px;
  letter-spacing: -1px;
  word-spacing: -2px;
  line-height: 1;
  margin-bottom: 5px;
  font-weight: bolder;
}

.section-content p {
  font-size: 22px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1;
  color: #ffffff;
}

/* IMAGE GRID */
.images {
  /* gap: 2px; */
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 89px;
}

.image-box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
  border: none;
  padding: -2;
  margin: 0;
}

.image-box img {
  width: 86%;
  height: 100%;
  object-fit: cover;
  border: none;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}
.image-box:hover img {
  transform: scale(1.05);
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button.btn.portfolio-signup-btn {
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #2b77f5;
  padding: 8px 18px;
  margin-top: 21px;
}

/* button.btn.portfolio-signup-btn:hover {
    background: rgba(132, 130, 130, 0.758);
    color: black;
} */

video.mobile-video_cust {
  display: none;
}

video.desktop-video_cust {
  z-index: 0;
}

#fallback-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

@media (max-width: 768px) {
  video.desktop-video_cust {
    display: none;
  }

  video.mobile-video_cust {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  h1.fw-bolder {
    max-width: 401px;
    margin: 0 auto;
  }

  .fw-bolder br {
    display: none;
  }

  .section-content {
    padding-top: 100px;
  }

  .section-content h1 {
    font-size: 45px;
    letter-spacing: -1px;
    word-spacing: -2px;
    line-height: -1;
    margin-bottom: 5px;
  }

  .section-content p {
    font-size: 20px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.2;
    width: 100%;
    margin-top: 15px;
    /* font-weight: none !important; */
  }

  .button {
    gap: 10px;
    padding-top: 20px;
  }

  button.btn.portfolio-signup-btn {
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #2b77f5;
    padding: 8px 18px;
    margin-top: 10px;
  }

  .images {
    gap: 0px;
  }

  .image-box {
    padding-top: 40px;
  }

  .image-box img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
  }

  .images {
    gap: 7px;
    margin-top: 49px;
  }
}

/* NAVBAR */
.navbar {
  background: transparent !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: black !important;
}

.navbar img {
  width: 57px;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .section-content {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .navbar img {
    margin-top: 5px;
  }

  .fixed-top {
    padding: 10px 0;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.936) !important;
  }

  .navbar-nav {
    margin-top: 20px;
  }
}

.nav-item {
  font-size: 15px;
}

.navbar-nav .nav-link {
  color: #b3b3b3;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

/* SECTION 2 */
.section2 {
  height: 100%;
  background-color: black;
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.section2 p {
  text-align: center;
  font-size: 25px;
  max-width: 600px;
  margin: 0 auto;
  color: #9c9c9c;
  font-weight: 100 !important;
}

/* Background Image */
.container-fluid {
  background: url("../image/Gradient.png") no-repeat center center/cover;
  padding: 40px 0;
}

/* MARQUEE EFFECT */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  padding-top: 59px;
}

.marquee-content {
  display: flex;
  gap: 30px;
  animation: marquee 15s linear infinite;
  width: max-content;
}

/* Infinite seamless loop */
.marquee-content::after {
  content: attr(data-clone);
  display: flex;
  gap: 60px;
}

.marquee-content img {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  object-fit: contain;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .section2.mobile-container-custom .container {
    max-width: 100%;
    padding: 0;
  }
}

/* SECTION 3 */
.section3 {
  background-color: black;
  color: white;
  padding-top: 125px;
  padding-bottom: 60px;
}
.section3 h1 {
  text-align: center;
  font-size: 65px;
  letter-spacing: -1px;
  word-spacing: -2px;
  line-height: -1;
  margin-bottom: 5px;
  font-weight: bolder;
}
.section3 p {
  text-align: center;
  font-size: 23px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1;
  color: #9c9c9c;
  padding-top: 10px;
}
.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
}
.buttons .Explore {
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #2b77f5;
  padding: 8px 18px;
  margin-top: 35px;
}
.cards-cutsom-blockss .card-container {
  gap: 25px;
  padding: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.cards-cutsom-blockss .card {
  max-width: 31%;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 40px;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  height: 425px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /* opacity: 0; */
  transform: translateY(50px);
}

.cards-cutsom-blockss .card.show {
  opacity: 1;
  transform: translateY(0);
}

.cards-cutsom-blockss .card.hide {
  opacity: 0;
  transform: translateY(50px);
}

.cards-cutsom-blockss .card:hover {
  transform: scale(1.05); /* Slight Zoom on Hover */
}

.card img {
  width: 100%;
  height: 151px;
  object-fit: contain;
}
.card h3 {
  font-size: 25px;
  margin-top: 25px;
  font-family: "SF Pro", sans-serif;
}
.card p {
  font-size: 18px;
}

.card-container h1 {
  font-size: 65px;
  letter-spacing: 1;
  word-spacing: -2px;
  line-height: -1;
  margin-bottom: 5px;
  font-weight: bolder;
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 30px;
}
.section3 p {
  text-align: center;
  font-size: 23px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1;
  color: #9c9c9c;
  padding-top: 20px;
}

.card-container h1 span {
  color: #9c9c9c;
}
.card-cutsom {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px;
}

.card.card-bg-cutsom {
  max-width: 50%;
  width: 100%;
  background: transparent;
  text-align: left;
}
.card.card-bg-cutsom h1 {
  text-align: left;
}
.buttons.button-explore-custom {
  margin-top: 20px;
  justify-content: flex-start;
}
.buttons.button-explore-custom button.Explore {
  margin-top: 0;
}
.cards-cutsom-blockss.mobile-view-block {
  display: none;
}
.card a {
  /* margin-top: 2rem!important; */
  padding-top: 39px;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid #2b77f5;
  padding-bottom: 2px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.card.card-1 p {
  font-size: 16px;
}
.card.card-2 p {
  font-size: 18px;
}
.card.card-3 p {
  font-size: 16px;
}
.card.card-4 p {
  font-size: 18px;
}
.card.card-5 p {
  font-size: 16px;
  word-break: break-all;
}
.card.card-6 p {
  font-size: 16px;
}
.card.card-7 p {
  font-size: 18px;
}
.card.card-bg-cutsom:hover {
  transform: none;
}
@media (max-width: 1100px) {
  .card-container h1 {
    font-size: 55px;
    line-height: normal;
  }
}
@media (max-width: 990px) {
  .cards-cutsom-blockss .card:hover {
    transform: none; /* Slight Zoom on Hover */
  }

  .slick-dotted.slick-slider {
    margin-bottom: 30px;
    margin-top: 50px;
  }
  .section3 .container.color-div {
    max-width: 100%;
    padding: 0;
  }
  .card {
    height: 100% !important;
    object-fit: cover;
  }
  .section3 .container .mobile h1 {
    /* text-align: center; */
    font-size: 45px;
    letter-spacing: -1px;
    word-spacing: -2px;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  .section3 p {
    font-size: 17px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.2;
    color: #9c9c9c;
    padding-top: 15px;
    word-spacing: 1px;
  }
  .buttons .Explore {
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #2b77f5;
    padding: 5px 15px;
    margin-top: 35px;
  }
  .card img {
    width: 100%;
    object-fit: contain;
  }
  .card {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    height: 425px;
    transition: none;
    transform: none;
  }

  .card h3 {
    font-size: 18px;
    margin-top: 0;
    padding-top: 10px;
  }
  .card p {
    padding-top: 0;
  }
  .card .mt-3 {
    padding-top: 15px;
    display: block;
  }
  .card a {
    padding-top: 15px;
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }
  .card p {
    font-size: 12px !important;
  }

  .cards-cutsom-blockss.desktop-view-class {
    display: none;
  }
  .cards-cutsom-blockss.mobile-view-block {
    display: block;
  }

  .card.card-bg-cutsom {
    max-width: 100%;
    width: 100%;
    background: transparent;
    text-align: left;
  }
  .mobile-view-block .slick-dots li button:before {
    color: #ffffff;
  }
  .mobile-view-block .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #ffffff;
  }
  .mobile-view-block .card-container {
    padding-left: 0;
    padding-right: 0;
  }
  .slick-slide {
    margin: 0 10px !important;
  }

  .card-cutsom {
    display: none;
  }
  .mobile-view-block .cards-cutsom-blockss.mobile-view-block {
    margin-top: 30px;
  }
  .card.card-bg-cutsom {
    height: fit-content;
  }
  .card.card-bg-cutsom h1 {
    font-size: 85px;
    text-align: left;
    line-height: normal;
    margin-bottom: 0px;
  }
  .buttons.button-explore-custom button.Explore {
    margin-top: 0;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #2b77f5;
    padding: 5px 15px;
  }
}

@media (max-width: 700px) {
  .card.card-bg-cutsom h1 {
    font-size: 60px;
    text-align: center;
    line-height: normal;
    margin-bottom: 0px;
  }
  .buttons.button-explore-custom {
    margin-top: 20px;
    justify-content: center;
  }
}
@media (max-width: 525px) {
  .card.card-bg-cutsom h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .card {
    height: 300px !important;
    object-fit: cover;
    padding-top: 0px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .card-5 p br {
    display: none;
  }
}
/* section4 */
.section4 {
  background: rgb(255, 254, 254);
  padding-top: 55px;
  color: rgb(0, 0, 0);
  transition: background-color 3s ease-in-out, color 3s ease-in-out;
}
.white-bg {
  background: white;
  color: #000;
  transition: background-color 3s ease-in-out, color 3s ease-in-out;
}
.case-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.item {
  padding: 20px;
  text-align: center;
}
.item h1 {
  font-size: 90px;
  font-weight: bold;
}
.item p {
  font-size: 23px;
  font-family: "SF Pro", sans-serif !important;
  font-weight: 100 bold;
}
.readd h1 {
  font-size: 65px;
  text-align: center;
  padding-top: 50px;
  font-weight: bolder;
}
.slider-item {
  border-radius: 60px;
  height: 100%;
  margin-top: 20px;
  display: flex;
  gap: 50px;
  width: 100%;
  align-items: center;
  padding: 50px;
  position: relative;
}
.slider-item {
  padding-top: 0;
  padding-bottom: 0;
}
.slick-initialized .slick-slide {
  display: block;
  padding-top: 0;
  padding-bottom: 59px;
}
.slick-video-slider.slick-initialized.slick-slider.slick-dotted {
  background: #ffffff;
  border-radius: 40px;
}
.video-read {
  max-width: 32%;
  width: 100%;
  height: 560px;
  border-radius: 20px; 
  overflow: hidden; 
}

.video-read iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px; 
  border: none; 
  object-fit: cover; 
}
.text-read {
  max-width: 68%;
  width: 100%;
}
.text-read {
  color: #000000;
}
.text-read h1 {
  font-size: 65px;
  font-weight: bolder;
}
.text-read p {
  font-size: 26px;
  word-spacing: 1;
  font-weight: 100;
}
.text-readd h2 {
  font-size: 25px;
  font-family: "SF Pro", sans-serif;
  font-weight: bolder;
}
.text-readd p {
  font-weight: 100 !important;
  font-size: 20px !important;
}
.cases-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  justify-content: flex-start;
  gap: 90px;
}

.items h1,
.items p {
  margin: 0;
  padding: 0;
}
.items {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items h2 {
  font-size: 45px;
  font-weight: bolder;
}
.items p {
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 100;
}
.read-container a {
  padding-top: 39px;
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  border-bottom: 1px solid #2b77f5;
  padding-bottom: 2px;
  width: fit-content;
  transition: transform 0.3s ease;
}
.read-container a:hover {
  transform: scale(1.05);
}

.slick-video-slider .slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #ffffff !important;
}
.slick-video-slider .slick-dots {
  position: absolute;
  bottom: -50px !important;
  text-align: center;
}
.slick-dots li button:before {
  font-size: 15px !important;
  color: #ffffff !important;
}
.section4 {
  padding-bottom: 100px;
  background-color: #000000;
  color: #fffcfc;
}

button.slick-arrow {
  width: 50px;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  height: 50px;
  z-index: 9999;
}
.slick-video-slider .slick-prev {
  left: -5%;
}
.slick-video-slider .slick-next {
  right: -5%;
}
span.custom-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}
span.custom-next {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-video-slider.slick-initialized.slick-slider.slick-dotted {
  margin-top: 100px;
}
.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  font-size: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.slick-prev span svg,
.slick-next span svg {
  width: 30px;
  height: 30px;
  stroke: #ffffff;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

@media (max-width: 990px) {
  .case-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .section4 {
    padding-top: 0px;
  }

  .item h1 {
    font-size: 55px;
    font-weight: bolder;
  }
  .item p {
    font-size: 20px;
  }

  .readd h1 {
    font-size: 28px;
    text-align: center;
    padding-top: 71px;
    font-weight: bolder;
  }
  .slider-item {
    flex-direction: column;
    gap: 30px;
    text-align: left;
    padding: 30px;
    align-items: flex-start;
    width: 100% !important;
    min-height: 670px !important;
  }
  .section4 > div {
    width: 100%;
  }

  .text-read p {
    font-size: 11px;
    text-align: left !important;
  }
  .text-read h1 {
    font-size: 55px;
  }
  .text-readd p {
    font-size: 14px !important;
    text-align: start !important;
    font-weight: 100;
  }
  .text-readd h2 {
    font-size: 17px !important;
    text-align: start;
    font-weight: bolder;
  }
  button.slick-prev.slick-arrow:after {
    display: none;
  }
  button.slick-next.slick-arrow:after {
    display: none;
  }
  .items h2 {
    font-size: 25px;
  }
  .items p {
    font-size: 11px;
  }
  .read-container a {
    padding-top: 39px;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 1px solid #2b77f5;
    padding-bottom: 2px;
    width: fit-content;
    transition: transform 0.3s ease;
  }

  .slider-item p,
  .slider-item h1,
  .slider-item h3 {
    text-align: center;
  }
  .video-read video {
    display: none;
  }
  button.slick-arrow {
    display: none;
  }
  .text-readd h2 {
    font-size: 22px !important;
    text-align: start;
    margin-top: 10px;
  }
  .text-readd p {
    font-size: 18px !important;
    text-align: start !important;
  }
  .text-read p {
    font-size: 16px;
    text-align: left !important;
    line-height: normal;
    color: #fff;
  }

  .text-read {
    max-width: 100%;
    width: 100%;
  }
  .slider-item {
    width: 100% !important;
    min-height: 100% !important;
    margin-top: 0;
  }
  .slider-item p,
  .slider-item h1,
  .slider-item h3 {
    text-align: left;
  }
  .slick-video-slider button.slick-arrow {
    display: none !important;
  }
}

@media (max-width: 749px) {
  .section4 .container {
    max-width: 100%;
    padding: 0;
  }
  .text-read h1 {
    font-weight: bolder;
    font-size: 40px !important;
  }
  .text-read p {
    font-size: 16px !important;
    margin-top: 10px;
    font-weight: 100;
  }
  .cases-container .items p {
    margin: 0;
  }
  .item h1 {
    font-size: 80px;
    font-weight: bolder;
  }
  .items h2 {
    font-size: 34px;
  }
  .readd h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
  }
  .slick-slide {
    margin: 0 !important;
  }
  .section4.white-bg .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .slider-item {
    background: transparent;
    border: none;
  }

  .video-read {
    display: none;
  }

  .cases-container {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .slick-video-slider button.slick-arrow {
    display: none;
  }
  .slick-initialized .slick-slide {
    padding-bottom: 0px !important;
  }
  .slick-list {
    margin: 0;
    padding: 0;
    padding-top: 0px !important;
  }
  .slick-initialized .slick-slide {
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .text-read h1 {
    font-size: 30px;
  }
  .text-read p {
    font-size: 13px;
    color: black;
  }
  .text-readd h2.mt-5 {
    margin-top: 30px !important;
  }
  .cases-container .items p {
    font-size: 14px;
    margin-top: 0px;
  }
  .items h2 {
    font-size: 24px;
  }
}
.slick-video-slider .slick-next:focus,
.slick-video-slider .slick-next:hover,
.slick-video-slider .slick-prev:focus,
.slick-video-slider .slick-prev:hover {
  color: #000;
  outline: 0;
  background: #000;
}

/* start parallax */
.parallax-container {
  padding-top: 69%;
  position: relative;
  width: 100%;
  height: 230vh;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #000;
}

.parallax-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.2s ease-out;
  /* z-index: 1; */
}

.parallax-image img {
  width: 70px;
  display: block;
  margin: 1px;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.parallax-image img:hover {
  opacity: 1;
}

/* Section After Parallax */
.parallax-container {
  padding-top: 69%;
  position: relative;
  width: 100%;
  height: 210vh;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #000;
}

.parallax-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.2s ease-out;
  /* z-index: 1; */
}
.parallax-image img {
  width: 70px;
  display: block;
  margin: 1px;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.parallax-image img:hover {
  opacity: 1;
}
/* Section After Parallax */
.after-content {
  padding: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #222;
}
.content-section {
  height: 200vh;
}
@media (max-width: 749px) {
  .parallax-image img {
    width: 30px;
  }
  .parallax-container {
    padding-top: 100%;
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #000;
  }
}
/* end parallax */

/* single-image */
.single-image img {
  width: 100%;
  object-fit: cover;
}
/*  */

/* section6 */
.section-6 {
  background: #fff;
  padding: 20px 0;
}
.custom-text h1 {
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
}
.coustom-textt {
  text-align: center;
}
.coustom-textt a {
  text-decoration: none;
  color: #000;
  font-size: 23px;
  text-align: center;
}
.coustom-image img {
  width: 100%;
  height: 530px;
  object-fit: cover;
  margin: 0 auto;
}
.mobile-slide-image {
  display: none;
}
.mobile-slide-image.slick-initialized.slick-slider {
  display: none;
}
@media (max-width: 749px) {
  .coustom-textt a {
    font-size: 16px;
  }
  .custom-text h1 {
    font-size: 45px;
  }
  .dekstop-slide-image {
    display: none;
  }

  .mobile-slide-image.slick-initialized.slick-slider {
    display: flex;
    justify-content: center;
  }
  .mobile-slide-image .slick-list.draggable {
    mask-image: none;
    padding-top: 59px;
  }
  .mobile-slide-image {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
  }
  .mobile-slide-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
/* sec6 */
/* teams */
.teams {
  color: black;
  background-color: #fff;
  padding-top: 100px;
}
.team-text h1 {
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
}
.team-text p {
  text-align: center;
  font-size: 23px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.2;
}

.teams .sliders-cardss img {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.08);
  margin-top: 50px;
}

.teams .team-image img {
  width: 100%;
}
.teams .team-card-text h3 {
  font-family: "SF Pro", sans-serif;
  font-weight: bold;
  padding-top: 12px;
}
.teams .team-card-text p {
  margin-top: -8px;
  color: #9c9c9c;
}
.sliders-cardss {
  margin-left: 30px;
}
@media (max-width: 749px) {
  .teams {
    padding-top: 50px;
  }
  .sliders-cardss {
    margin-left: 15px !important;
  }
  .team-text h1 {
    font-size: 45px;
  }
  .team-text p {
    font-size: 17px;
  }
  .teams .sliders-cardss img {
    height: 100%;
  }
  .team-card-text {
    text-align: left;
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .sliders-cardss {
    margin-left: 0 !important;
  }
}
/* end */

/* clients-review */
.clients-review {
  color: #000;
  background-color: #fff;
  padding-top: 50px;
}

.clients-text h1 {
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
}

.clients-text p {
  font-size: 23px;
  text-align: center;
  line-height: 1.2;
}

.client-reviews-image {
  margin-left: 30px;
  margin-top: 40px;
}

.client-poster {
  padding: 15px;
  border-radius: 19px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
}

.client-poster img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
.clients-review .slick-track {
  display: flex !important;
}
.clients-review .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

@media (max-width: 749px) {
  .clients-review {
    padding-top: 20px;
  }
  .clients-text h1 {
    font-size: 45px;
  }
  .clients-text p {
    font-size: 13px;
  }
  .client-reviews-image {
    /* margin-left: 30px; */
    padding-top: 40px !important;
  }
  .client-poster.slick-slide {
    padding: 0;
  }
  .client-reviews-image.slick-initialized.slick-slider {
    margin: 0;
  }
  .client-reviews-image .slick-list.draggable {
    mask-image: none;
    padding-top: 0px;
  }
}

/* sec7 */
.section7 {
  padding-top: 90px;
}

.customs-text h1 {
  color: inherit;
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
  color: #000000;
}
.slider-block-customs {
  background-color: transparent;
  margin-top: 50px;
}
.bg-black .customs-text h1 {
  color: #fff;
}

.slider-cardss iframe {
  width: 100%;
  height: 510px;
  border-radius: 20px;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.08);
}

.slider-cardss:hover iframe {
  filter: grayscale(1);
}
.slider-cardss {
  margin-left: 30px;
}

.slider-header-cust {
  max-width: 465px;
}
.slick-list.draggable {
  mask-image: linear-gradient(
    to right,
    transparent,
    white 5%,
    white 100%,
    transparent
  );
  padding-top: 59px;
}

.slick-prev span svg,
.slick-next span svg {
  width: 30px;
  height: 30px;
  stroke: inherit;
  margin-top: 50px;
}
.bg-black .slick-prev span svg,
.bg-black .slick-next span svg {
  stroke: #fff;
  fill: #fff;
}
.section7 .slick-prev {
  right: 100px;
  top: -16%;
  left: auto;
}

.section7 .slick-next {
  right: 50px;
  top: -16%;
}
.section7 button.slick-arrow {
  background: transparent;
}

.clients-review,
.section7 {
  transition: background-color 1s ease-in-out;
}
@media (max-width: 749px) {
  .section7 .slick-slide img {
    display: block;
    width: 100% !important;
  }
  .slider-cardss {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 0 !important;
  }

  .slider-cardss iframe {
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 20px;
    object-fit: cover; 
  }

  .customs-text h1 {
    font-size: 45px;
  }
  span.custom-next {
    display: none;
  }
  span.custom-prev {
    display: none;
  }
}
@media (max-width: 500px) {
  .slider-cardss {
    margin-left: 0px !important;
  }
  .slick-list.draggable {
    mask-image: none;
  }
}
/* section9 */
.section9 .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 100px;
}

.blog-section,
.faqs {
  width: 48%;
}

.blog-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.blog-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  border: 0.25px solid gray;
  border-radius: 0.5rem;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 80px;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem 0.7rem;
  text-decoration: none;
  transition: color 0.35s, background-color 0.35s;
  display: grid;
}

.blog-item:hover {
  background: #2b77f5;
  color: black;
}

.blog-item:hover .blog-meta,
.blog-item:hover p {
  color: rgb(255, 255, 255);
}

.blog-image {
  width: 95px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.blog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.see-all {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.blog-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0;
  flex: 1;
}

.blog-meta {
  font-size: 12px;
  color: #ffffff;
  text-align: right;
  white-space: nowrap;
}

.blog-content h3 {
  font-size: 16px;
  color: #ffffff;
}

.blog-content p {
  font-size: 14px;
  margin: 0;
  color: #9c9c9c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* faqs */
.faqs .faq-item {
  justify-content: space-between;
  border: 1px solid #333;
  color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}
.faq-item .icon {
  margin-left: 10px;
  font-size: 21px;
  color: #2b77f5;
  transition: color 0.3s ease;
}

.faq-item.active .icon {
  color: white;
}
.faq-item:hover .icon {
  color: white;
}

.faq-item.active {
  background-color: #2b77f5;
  color: #fff;
}
.answer {
  display: none;
  margin-top: 5px;
  color: #fff;
  text-align: left;
  animation: fadeIn 0.3s ease;
}
.faq-item.active .answer {
  display: block;
}
.faqs .faq-item:hover {
  background: rgb(43, 119, 245);
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blog-inner-item-mobile {
  display: none;
}
.blog-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.blog-header .blog-text {
  margin-bottom: 0;
}
/* Responsive */
@media (max-width: 990px) {
  .section9 .container {
    flex-direction: column;
  }

  .blog-section,
  .faqs {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .blog-inner-item-desktop {
    display: none;
  }
  .blog-meta {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
  }
  .blog-inner-item-mobile {
    display: block;
  }

  .blog-item {
    grid-template-columns: auto 1fr;
  }

  .blog-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
  }
}
/* end section9 */
.faq-ques-block {
  display: flex;
  justify-content: space-between;
}

/* section10 */
.section10 {
  color: white;
  background-color: #0a0a0a; /* Dark base color */
  background-image: radial-gradient(circle at 30% 40%, #000000, transparent 40%),
    radial-gradient(circle at 60% 60%, #0b03a5, transparent 50%),
    radial-gradient(circle at 50% 80%, #0aebcd, transparent 60%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}
.contact-text {
  padding-top: 60px;
}
.contact-text p {
  font-weight: 100;
}
.contact-text h3 {
  margin-top: -10px;
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin-top: 70px;
}

.contact-textt p {
  font-weight: 100;
}

.contact-textt h3 {
  font-weight: 200;
  margin-top: -10px;
}

.contact-works {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contact-works h3 {
  font-weight: 200;
  cursor: pointer;
  font-size: 25px;
  margin-top: 40px;
}
.contact-image img {
  width: 100%;
  object-fit: cover;
}
.contact-fotter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.contact-profiles {
  display: flex;
  gap: 30px;
}
.contact-profiles a {
  text-decoration: none;
  color: white;
}

@media (max-width: 749px) {
  .section10 {
    color: white;
    background-color: #0a0a0a;
    background-image: radial-gradient(
        circle at 30% 40%,
        #000000,
        transparent 40%
      ),
      radial-gradient(circle at 60% 60%, #0b03a5, transparent 50%),
      radial-gradient(circle at 50% 80%, #0aebcd, transparent 60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; /* Important for mobile */
    background-blend-mode: screen;
  }
  .contact-text h3 {
    margin-top: -10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
  }
  .contact-us {
    flex-direction: column;
    margin-top: 50px;
  }
  .contact-works {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contact-fotter {
    flex-direction: column;
  }

  .contact-profiles {
    gap: 15px;
  }

  .contact-us {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contact-works h3 {
    margin-top: 0;
    font-size: 19px;
  }

  .contact-works {
    margin-top: 30px;
    gap: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .contact-text h3 {
    font-size: 19px;
    font-weight: bolder;
  }
}
